
@model lucky_number_model.Models.LuckyNumber

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Lucky Number @Model.Number</title>
        <style type="text/css">
            body{background-color:lightgoldenrodyellow;}
            .spinner * {display: inline-block;font: bold 36px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
            .spinner div {background-color: yellow;border:solid thin black;margin:0 2px;}
            .register {font:bold 18px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:lime;background-color:#333;padding:0 4px;}
            .gameover{font:bold 24px san-serif; color:darkred;padding:10px;}
        </style>
    </head>
    <body>
        @using (this.Html.BeginForm()) // An HTML Helper method to create a form
        {
            <div class="spinner">
                <input type="submit" value="SPIN" />
                <div>@Model.Spinner[0]</div><div>@Model._Spinner[1]</div><div>@Model._Spinner[2]</div> 
                <!-- Because of the way I implemented my Spinner.get logic, retrieving the spinner for each variable here will roll the reels 3 times, and check for winner 3 times, should fix-->
            </div>
            <h1>Lucky Number @Model.Number</h1>
            <p>Your Current Balance is: <span class="register"> $ @Model.Balance</span></p>
            <div>
                Pick your Lucky Number:
                @Html.EditorFor(model => model.Number) 
                @Html.ValidationMessageFor(model => model.Number)
            </div>
            <div class="gameover">@Model.GameMessage</div>
            if (Model.isWinner)
            {
                <img src="~/Images/LuckySevenExercise.jpg" style="display:block" alt="coins" />
            }

            <input type="hidden" name="Balance" value="@Model.Balance" />
        }
    </body>
</html>
